@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";


}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>This is dashboard Admin page !</h1>
    </div>
</div>
<footer id="ctl00_footHN" class="card-footer bg-white">

    <div class="col-md-6" id="footer-hanoi-en" style="line-height: 1.5rem;">
        For more information or any queries, please contact: FPT Polytechnic International in Hanoi
        <ul class="list-group">

            <div class="row">
            <li class="list-group-item border-0 p-0">
                <svg width="1.25rem" height="1.25rem" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: .9rem">
                    <path d="M9.9648 6.57554C10.829 6.57554 11.6578 6.9452 12.2688 7.60321C12.8799 8.26121 13.2232 9.15365 13.2232 10.0842C13.2232 10.545 13.1389 11.0012 12.9752 11.4269C12.8114 11.8526 12.5714 12.2394 12.2688 12.5652C11.9663 12.891 11.6071 13.1495 11.2117 13.3258C10.8164 13.5021 10.3927 13.5929 9.9648 13.5929C9.10062 13.5929 8.27184 13.2232 7.66077 12.5652C7.0497 11.9072 6.70641 11.0148 6.70641 10.0842C6.70641 9.15365 7.0497 8.26121 7.66077 7.60321C8.27184 6.9452 9.10062 6.57554 9.9648 6.57554ZM9.9648 0.259949C12.3845 0.259949 14.7051 1.295 16.4161 3.13741C18.1271 4.97981 19.0883 7.47865 19.0883 10.0842C19.0883 17.4524 9.9648 28.3293 9.9648 28.3293C9.9648 28.3293 0.841309 17.4524 0.841309 10.0842C0.841309 7.47865 1.80253 4.97981 3.51352 3.13741C5.2245 1.295 7.5451 0.259949 9.9648 0.259949ZM9.9648 3.06688C8.23644 3.06688 6.57887 3.8062 5.35674 5.12221C4.13461 6.43821 3.44802 8.22309 3.44802 10.0842C3.44802 11.4877 3.44802 14.2946 9.9648 23.7119C16.4816 14.2946 16.4816 11.4877 16.4816 10.0842C16.4816 8.22309 15.795 6.43821 14.5729 5.12221C13.3507 3.8062 11.6932 3.06688 9.9648 3.06688Z" fill="var(--Main-Color)"></path>
                </svg>
                Address:
            </li>

    </div>
    <ul style="list-style-type: disc; padding-left: 10%;">
        <li> BTEC: BTEC FPT Building, Trinh Van Bo Street, Nam Tu Liem District, Hanoi.</li>
        <li> Melbourne:	Melbourne Polytechnic Building D, Trinh Van Bo Street, Nam Tu Liem District, Hanoi</li>
    </ul>
    <div class="row">
        <div class="col-2 pl-0 pr-0">
            <li class="list-group-item border-0 pl-0 pt-0 list">
                <svg width="1.25rem" height="1.25rem" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 1em">
                    <path d="M3.53835 22.6758C2.82151 22.6758 2.20806 22.4012 1.69801 21.8519C1.1871 21.3018 0.931641 20.6408 0.931641 19.8689V3.02727C0.931641 2.25536 1.1871 1.5948 1.69801 1.04557C2.20806 0.495416 2.82151 0.220337 3.53835 0.220337H24.392C25.1089 0.220337 25.7228 0.495416 26.2337 1.04557C26.7437 1.5948 26.9988 2.25536 26.9988 3.02727V19.8689C26.9988 20.6408 26.7437 21.3018 26.2337 21.8519C25.7228 22.4012 25.1089 22.6758 24.392 22.6758H3.53835ZM13.9652 12.8515L3.53835 5.8342V19.8689H24.392V5.8342L13.9652 12.8515ZM13.9652 10.0446L24.392 3.02727H3.53835L13.9652 10.0446ZM3.53835 5.8342V3.02727V19.8689V5.8342Z" fill="var(--Main-Color)"></path>
                </svg>
                Email:
            </li>


        </div>
        <div class="col-8 pl-0">
            <ul class="list-group">
                <li>
                    Academic Department: <span class="email-text">Academic.btec.hn@fe.edu.vn</span>
                </li>
                <li>
                    SRO Department:

                    <span class="email-text">sro.btec.hn@fe.edu.vn</span>


                </li>
                <li>
                    Finace Department: <span class="email-text">accounting.btec.hn@fe.edu.vn</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <ul class="list-group  pl-0">
            <li class="list-group-item border-0 pl-0">
                <svg width="1.25rem" height="1.25rem" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 1em">
                    <path d="M25.2316 28.1263C21.8429 28.1263 18.6553 27.4362 15.6689 26.0561C12.6816 24.6761 10.0749 22.7875 7.84873 20.3904C5.62173 17.9923 3.8622 15.1854 2.57014 11.9696C1.27721 8.75282 0.630745 5.30825 0.630745 1.63584C0.609023 1.2148 0.739358 0.846161 1.02175 0.529913C1.30415 0.214602 1.65171 0.0569458 2.06444 0.0569458H7.14752C7.53853 0.0569458 7.87523 0.214602 8.15762 0.529913C8.44002 0.846161 8.58122 1.2265 8.58122 1.67093C8.58122 2.70014 8.64638 3.67087 8.77672 4.58312C8.90705 5.49537 9.11342 6.36084 9.39581 7.17953C9.50443 7.43683 9.52615 7.69975 9.46098 7.96828C9.39581 8.23775 9.26548 8.48943 9.06997 8.72334L5.81158 12.232C6.74566 14.2904 8.07073 16.2436 9.78682 18.0915C11.5029 19.9394 13.3493 21.413 15.3261 22.5124L18.5845 19.0037C18.78 18.7932 19.0081 18.6529 19.2687 18.5827C19.5294 18.5125 19.7901 18.5359 20.0507 18.6529C20.8545 18.9336 21.6852 19.1497 22.5428 19.3013C23.4012 19.4538 24.2867 19.53 25.199 19.53C25.6117 19.53 25.9649 19.6938 26.2586 20.0212C26.5514 20.3487 26.6979 20.7464 26.6979 21.2142V26.5824C26.6979 27.0035 26.5567 27.366 26.2743 27.6701C25.9919 27.9742 25.6443 28.1263 25.2316 28.1263ZM24.0911 14.0916C24.0911 10.9572 23.081 8.3023 21.0608 6.12693C19.0406 3.95156 16.5751 2.86388 13.6643 2.86388V0.0569458C15.4673 0.0569458 17.1616 0.425121 18.7474 1.16147C20.3331 1.89876 21.7125 2.89896 22.8855 4.16208C24.0586 5.4252 24.987 6.91054 25.6708 8.61808C26.3555 10.3256 26.6979 12.1501 26.6979 14.0916H24.0911ZM18.8777 14.0916C18.8777 12.5478 18.3672 11.2262 17.3463 10.1268C16.3253 9.02743 15.098 8.47774 13.6643 8.47774V5.67081C15.8366 5.67081 17.683 6.4895 19.2036 8.12687C20.7241 9.76425 21.4844 11.7525 21.4844 14.0916H18.8777Z" fill="var(--Main-Color)"></path>
                </svg>
                Hotline: 024 730 99 588
            </li>
        </ul>
    </div>

    </ul>
    </div>
    </div>

</footer>